.loginButton
{
    -fx-background-color: #1DB954;
    -fx-background-radius: 20;
}
.loginButton:hover
{
    -fx-background-color: #0f8f54;
    -fx-cursor: hand;
}
.datePicker .text-field
{
    -fx-background-color: #3b3b3b;
    -fx-border-color: #3b3b3b;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}
.datePicker .arrow-button
{
    -fx-background-color: #3b3b3b;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.datePicker .arrow-button:hover
{
    -fx-background-color: #4b4b4b;
    -fx-cursor: hand;
}
.datePicker .arrow-button .arrow
{
    -fx-background-color:  #1DB954;
}
.datePicker .month-year-pane
{
    -fx-background-color: #1DB954;
    -fx-text-fill: white;
}
.datePicker .spinner .button .left-arrow, .datePicker .spinner .button .right-arrow
{
    -fx-background-color: white;
}
.datePicker .month-year-pane .label
{
    -fx-text-fill: white;
}

.datePicker-popup
{
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-border-color: #3b3b3b;
}


.datePicker .cell:hover
{
    -fx-background-color: #1DB954;
    -fx-text-fill: #222222;
    -fx-cursor: hand;
}
.datePicker .cell
{
    -fx-text-fill: white;
    -fx-background-color: #3b3b3b;
    -fx-border-color: #4b4b4b;
}
.datePicker .selected
{
    -fx-background-color: #1DB954;
    -fx-text-fill: white;
}
.addButton
{
    -fx-background-color: #1DB954;
    -fx-background-radius: 40;
}
.addButton:hover
{
    -fx-background-color: #0f8f54;
    -fx-cursor: hand;
}
.enterAssignment
{
    -fx-background-color: #3b3b3b;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}
.addAssignment
{
    -fx-background-color: #1DB954;
    -fx-background-radius: 40;
}
.addAssignment:hover
{
    -fx-background-color: #0f8f54;
    -fx-cursor: hand;
}

.assignment
{
    -fx-background-color:#3b3b3b;
    -fx-background-radius: 30;
    -fx-padding:  20 0 20 20;
    -fx-pref-width: 422;
    -fx-pref-height: 39;
    -fx-text-fill: white;
}
.assignment:hover
{
    -fx-background-color:#333333;
    -fx-cursor: hand;
}
.assignment .radio
{
    -fx-background-color : #3b3b3b;
    -fx-border-color: #1DB954;
    -fx-border-radius: 50%;
    -fx-border-width: 2;
}
.assignment:selected .radio .dot
{
    -fx-background-color : white;
}
.logOutButton
{
    -fx-background-color:  #FF6961;
    -fx-background-radius: 30;
}
.logOutButton:hover
{
    -fx-background-color:  #f03e61;
    -fx-cursor: hand;
}
